{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {% if user.is_authenticated %}
        <a class="btn btn-default remove-btn" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default edit-btn" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
    {% else %}
        <a class="btn btn-default publish-btn" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <div class="post_text">{{ post.text|linebreaksbr }}</div>
    <div id="synapEditor" class="container">
        <div class="se-contents"></div>
    </div>
    <script>
        var elPostText = document.getElementsByClassName('post_text')[0];
        var elSeContents = document.getElementById('synapEditor').querySelector('.se-contents');
        var parser = new DOMParser();

        elSeContents.innerHTML = elPostText.innerText;
    </script>
</div>
{% endblock %}